<div class="outer">
  <div class="container-custom mx-auto">
    <div class="img-cover">
        <div class="pt-5 ms-5">
          <h1>Ưu đãi hiện có</h1>
          <p>Hãy khám phá chương trình khuyến mãi hiện tại của Mercedes benz</p>
        </div>
    </div>
    <div class="mt-5 container">
      <div class="d-md-flex mt-5">
          <div class="col-12 col-md-6">
            <img src="assets/media/service-special-offer-1.webp" width="100%">
          </div>
          <div class="col-12 col-md-6">
            <div class="mt-4 ms-md-5">
              <h3 >
                Thư giãn cho bạn, đãi ngộ cho xe. Dịch vụ Mercedes-Benz.
              </h3>
              <p class="mt-4">Từ ngày 15/3 – 30/4/2021, ưu đãi đặc biệt cho tất cả các dòng xe Mercedes-Benz lăn bánh trên 3
                năm sử dụng dịch vụ tại hệ thống đại lý ủy quyền trên toàn quốc:
              </p>
              <ul class="mt-4">
                <li>
                  Miễn phí phụ gia nhiên liệu cho Dịch vụ bảo dưỡng A hoặc B.
                </li>
                <li>
                  Ưu đãi 15% các loại lọc gió, lọc động cơ, lọc nhiên liệu.
                </li>
                <li>
                  Cơ hội nhận phiếu nghỉ dưỡng 3 đêm dành cho 2 người tại khách sạn 5 sao InterContinental Phú Quốc (áp dụng có điều kiện).
                </li>
              </ul>
              <p class="mt-4">
                Liên hệ đại lý gần nhất để đặt lịch: www.mercedes-benz.com.vn/find_dealer
              </p>
            </div>
          </div>
      </div>
      <div class="d-md-flex mt-5">
        <div class="col-12 col-md-6">
          <img src="assets/media/service-special-offer-2.webp" width="100%">
        </div>
        <div class="col-12 col-md-6">
          <div class="mt-4 ms-md-5">
            <h3 >
              Trung thành cùng bạn. Dịch vụ của bạn.
            </h3>
            <p class="mt-4">Ưu đãi đặc biệt cho tất cả dòng xe Mercedes-Benz lăn bánh trên 4 năm tại các xưởng dịch vụ ủy quyền trên toàn quốc.
            </p>
            <ul class="mt-4">
              <li>
                Tặng lọc dầu động cơ khi thực hiện bảo dưỡng A hoặc B.
              </li>
              <li>
                Ưu đãi 20% phụ tùng chính hãng.
              </li>
              <li>
                Tặng phiếu ưu đãi 2 lốp chuyên dụng Mercedes-Ben.*
              </li>
            </ul>
            <p class="mt-4">
              Chương trình diễn ra từ 1/10 - 30/11/2020. Liên hệ đại lý gần nhất để được tư vấn.
            </p>
          </div>
        </div>
      </div>
      <div class="d-md-flex mt-5">
        <div class="col-12 col-md-6">
          <img src="assets/media/service-special-offer-3.webp" width="100%">
        </div>
        <div class="col-12 col-md-6">
          <div class="mt-4 ms-md-5">
            <h3 >
              Chăm sóc điều hòa xe. Thỏa sức vi vu hè.
            </h3>
            <p class="mt-4">
              Mùa hè này, hãy tận hưởng những ưu đãi đặc biệt để chăm sóc hệ thống lọc gió, điều hòa không khí cho chiếc xe Mercedes-Benz của bạn.
            </p>
            <p class="mt-4">
              Chương trình diễn ra từ 10/6 đến 6/7 tại các đại lý Mercedes-Benz ủy quyền trên toàn quốc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
