<div>
  <div class="product-outer text-center m-3" (mouseover)="imageStatus = true" (mouseout)="imageStatus = false">
    <p style="font-size: 24px">{{this.productChildren?.name}}</p>
    <p style="font-size: 16px" class="">Giá từ {{this.productChildren?.price | currency: 'VND'}}</p>
    <div class="d-flex justify-content-center mt-3">
      <div class="tag px-2">Mới</div>
      <div class="tag px-2 ms-2">Hot</div>
    </div>
<!--    <img *ngIf="!imageStatus" src="assets/media/product_2b.webp" width="90%" height="175">-->
    <div *ngFor="let img of this.productChildren?.imageDTOs">
      <div *ngIf="img.type === 'content'">
        <img *ngIf="!imageStatus" src="{{img.url}}" width="90%" height="175">
      </div>
    </div>
    <div *ngFor="let img of this.productChildren?.imageDTOs">
      <div *ngIf="img.type === ''">
        <img *ngIf="imageStatus" src="{{img.url}}" width="90%" height="175">
      </div>
    </div>
  </div>
</div>
