<div class="outer">
  <div class="img-cover d-flex align-items-center">
      <div class="ms-5">
        <h1 class="ms-md-5 text-light">Ưu đãi cho GLC và E-CLASS</h1>
      </div>
  </div>
  <div class="mt-5 container-custom mx-auto">
    <h2>Chi tiết chương trình ưu đãi</h2>
    <ul class="my-5">
      <li>
        Khách hàng sẽ nhận được bộ 4 phiếu mua hàng cho Bộ Sưu Tập Và Phụ Kiện Chính Hãng Mercedes-Benz với tổng trị giá 20 triệu đồng (không bao gồm thuế GTGT) khi mua một trong các mẫu xe sau đây tại nhà phân phối chính thức của Mercedes-Benz Việt Nam: E 180 (phiên bản mới),
        E 200 Exclusive (phiên bản mới), E 300 AMG (phiên bản mới), GLC 200, GLC 200 4MATIC, và GLC 300 4MATIC.
      </li>
      <li>
        Chương trình khuyến mãi diễn ra từ 1/1 đến 28/2/2022 dành cho khách hàng gửi yêu cầu báo giá xe qua Online Showroom của Mercedes-Benz, hoàn tất thủ tục thanh toán 100%, và nhận xe trong thời gian khuyến mãi. Chương trình này không áp dụng đồng thời với các chương trình khuyến mãi
        khác dành cho khách hàng thuộc nhóm bán sỉ hay chương trình khác, cũng như có mục đích thương mại (các công ty cho thuê xe, v.v...).
      </li>
    </ul>
  </div>
</div>
