<div class="container-custom mx-auto mt-5">
  <p>
    Kính chào Quý khách hàng, hiện tại Mercedes Benz đang dần được phổ biến tại Việt Nam rộng rãi, nhu cầu mua và sử dụng xe ngày càng đông. Chính vì vậy Mercedes Benz Việt Nam đã xây dựng những đại lý chính hãng, uy tín hàng đầu để đáp ứng mọi nhu cầu cho khách hàng. Dưới đây là danh sách những đại lý uỷ quyền của Mẹc từ các khu vực như Miền Bắc, Miền Trung, Miền Nam Quý khách có thể tham khảo:
  </p>
  <p class="h2 mt-3">
    I. Đại lý, Showroom Mercedes-Benz Miền Nam
  </p>
  <p class="h4 mt-3">
    1. Đại lý, Showroom Mercedes-Benz tại TP HCM
  </p>
  <p class="mt-3 mb-3">
    Thị trường TP Hồ Chí Minh đang vô cùng sôi động, người dân có mức sống ngày càng tăng cao. Việc lựa chọn một chiếc xe ô tô Mercedes sẽ trở nên dễ dàng hơn khi có tới 5 đại lý với tiêu chuẩn 5 sao bậc nhất để phục vụ Quý khách:
  </p>
  <div class="list-dealer">
    <div class="dealer" *ngFor="let item of dealers.hoChiMinh">
      <div class="div-image">
        <img class="image-dealer" src="{{item.image}}" alt="image">
      </div>
     <div class="div-content">
       <div class="name-dealer">
         {{item.name}}
       </div>
       <div class="connect-dealer">
         <p class="address-dealer">
           <span class="h6">Địa chỉ:</span> {{item.address}}
         </p>
         <p class="phone-dealer">
           <span class="h6">Điện thoại:</span> {{item.phone}}
         </p>
       </div>
     </div>
    </div>
  </div>
</div>
