<div class="w-100 h-100 py-2">
  <div class="w-100 h-100 bg-dark rounded rounded-3 p-3">
    <div class="w-100 d-flex">
      <form class="d-flex">
        <input class="form-control me-2 text-dark" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Tìm</button>
      </form>
      <button class="btn btn-success mx-2">Thêm</button>
    </div>
    <div class="w-100 h-100 my-3" style="box-sizing: border-box;">
      <table class="table table-bordered border-light align-middle">
        <thead>
          <tr>
            <th scope="col" class="col-1">STT</th>
            <th scope="col" class="col-3">Tên</th>
            <th scope="col" class="col-2">Hãng</th>
            <th scope="col" class="col-2">Giá</th>
            <th scope="col" class="col-1">Số lượng</th>
            <th scope="col" class="col-3 text-end">Tùy chọn</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of listCars; let i = index">
            <th scope="row" class="text-center">{{ i + 1 }}</th>
            <td>{{ car.name }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.price }}</td>
            <td>{{ car.quantity }}</td>
            <td class="text-end">
              <button class="btn btn-primary me-3" (click)="editCar(car)">Sửa</button>
              <button class="btn btn-danger" (click)="deleteCar(car)">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>