<div>
  <div>
    <h3 class="fw-bold text-dark">Thông tin người dùng</h3>
  </div>
  <form [formGroup]="userForm" class="col-md-12 mt-5">
    <div class="form-floating mb-3 text-dark">
      <input formControlName="lastName" type="text" class="form-control text-dark is-invalid" id="lastName" placeholder="Họ"
             [class.is-invalid]="isControlInvalid(userForm, 'lastName')"
             [class.is-valid]="isControlValid(userForm, 'lastName')">
      <label for="lastName" class="text-dark">Họ</label>
    </div>
    <div class="form-floating mb-3 text-dark">
      <input formControlName="firstName" type="text" class="form-control text-dark is-invalid" id="firstName" placeholder="Tên"
             [class.is-invalid]="isControlInvalid(userForm, 'firstName')"
             [class.is-valid]="isControlValid(userForm, 'firstName')">
      <label for="firstName" class="text-dark">Tên</label>
    </div>
    <div class="form-floating mb-3 text-dark">
      <input formControlName="address" type="text" class="form-control text-dark is-invalid" id="address" placeholder="Địa chỉ"
             [class.is-invalid]="isControlInvalid(userForm, 'address')"
             [class.is-valid]="isControlValid(userForm, 'address')">
      <label for="address" class="text-dark">Địa chỉ</label>
    </div>
    <div class="form-floating mb-3 text-dark">
      <input formControlName="telephone" type="text" class="form-control text-dark is-invalid" id="telephone" placeholder="Số điện thoại"
             [class.is-invalid]="isControlInvalid(userForm, 'telephone')"
             [class.is-valid]="isControlValid(userForm, 'telephone')">
      <label for="telephone" class="text-dark">Số điện thoại</label>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary" (click)="updateUser()">
        Save
      </button>
    </div>
  </form>
</div>
