<div class="cover-img row vw-100">
  <div class="my-auto ">
    <div class="container-custom">
      <h1>
        <p>S-Class mới</p>
      </h1>
      <h2 class="mt-4">
        <p>Một hành trình phi thường</p>
      </h2>
      <button class="btn-see-more fw-bold mt-5">
        Tìm hiểu thêm
      </button>
    </div>
  </div>
</div>
<div class="bg-dark ">
  <div class="container-custom py-5">
    <h1 style="font-size: 3rem" class="ps-5">
      <p>Tìm hiểu thêm</p>
    </h1>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="card mt-5 mx-4">
          <img class="card-img-top" src="assets/media/simple.png" alt="Card image cap">
          <div class="card-body p-4">
            <h5 class="card-title text-dark">Card title</h5>
            <p class="card-text text-dark" style="height: 100px !important">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary w-100 py-2 mt-3">Go somewhere</a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card mt-5 mx-4">
          <img class="card-img-top" src="assets/media/simple.png" alt="Card image cap">
          <div class="card-body p-4">
            <h5 class="card-title text-dark">Card title</h5>
            <p class="card-text text-dark" style="height: 100px !important">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary w-100 py-2 mt-3">Go somewhere</a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card mt-5 mx-4">
          <img class="card-img-top" src="assets/media/simple.png" alt="Card image cap">
          <div class="card-body p-4">
            <h5 class="card-title text-dark">Card title</h5>
            <p class="card-text text-dark" style="height: 100px !important">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary w-100 py-2 mt-3">Go somewhere</a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card mt-5 mx-4">
          <img class="card-img-top" src="assets/media/simple.png" alt="Card image cap">
          <div class="card-body p-4">
            <h5 class="card-title text-dark">Card title</h5>
            <p class="card-text text-dark" style="height: 100px !important">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary w-100 py-2 mt-3">Go somewhere</a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card mt-5 mx-4">
          <img class="card-img-top" src="assets/media/simple.png" alt="Card image cap">
          <div class="card-body p-4">
            <h5 class="card-title text-dark">Card title</h5>
            <p class="card-text text-dark" style="height: 100px !important">Some quick example text to build on the card </p>
            <a href="#" class="btn btn-primary w-100 py-2 mt-3">Go somewhere</a>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
<app-list-product></app-list-product>
