<div class="sedan">
  <div class="img-cover">
    <div class="container-custom mx-auto">
      <div class="pt-5 ms-5">
        <h1>Sedan of Coding-Showroom</h1>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <h3 class="mt-5">Why are hatchbacks so popular?</h3>
    <p class="mb-3">
      A hatchback boot lid dramatically improves practicality by giving you a much larger boot opening. The shape of many hatchbacks also allows you more vertical boot space if you remove the parcel shelf (the detachable load cover that usually lifts up when you open the boot). Fold the rear seats down, and you’ve basically created a van, but with better visibility and a far smaller footprint.

      The hatchback is a type of car that many people will associate with the smaller, more affordable end of the market, but these days hatchbacks come in a range of sizes and all sorts of prices.
    </p>
    <div class="text-center">
      <img src="https://res.cloudinary.com/awi-ln/image/upload/v1652290436/sedan1_soinjk.webp" alt="image">
    </div>
    <h3 class="mt-5">Are there any hatchback drawbacks?</h3>
    <p class="mb-3">
      Because a hatchback’s boot area isn’t enclosed like a saloon’s, hatchbacks sometimes have more road noise intruding into the cabin from the back and thieves can more easily access the boot (by breaking the back window).

      Overall though, the hatchback design ticks an awful lot of boxes and you’ll be hard-pressed to find a manufacturer that doesn’t offer a variety of hatchbacks across its range.
    </p>
    <div class="text-center">
      <img class="mb-3" src="https://res.cloudinary.com/awi-ln/image/upload/v1652290435/sedan_bcgfd5.webp" alt="image">
    </div>
  </div>
</div>
