<nav class="navbar navbar-expand-xl bg-dark">
  <div class="container-fluid global-width mx-auto">
    <a class="navbar-brand me-3" href="#">
      <img src="../../../../../assets/Coding_club_logo.png" alt="logo" width="40" height="40">
    </a>
    <button #openMenu (click)="toggleMenu()" class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="w-100 navbar-toggler-icon d-flex justify-content-between align-items-center">
        <i [class]="'text-dark fas fa-' + (isMenuOpen ? 'times' : 'bars')"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" *ngFor="let link of headerMenuConfig">
          <a (click)="link?.subMenu == null ? null : openSubMenuModal(link)" class="nav-link cursor-pointer" [routerLink]="link?.subMenu == null ? [link.url] : null" routerLinkActive="active" >{{ link.name }}</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button class="ms-2 btn btn-transparent">
        <span class="w-100 navbar-toggler-icon d-flex justify-content-between align-items-center">
          <i class="fas fa-user"></i>
        </span>
      </button>
    </div>
  </div>
</nav>
