<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand me-3" href="#">
      <img src="../../../../../assets/Coding_club_logo.png" alt="logo" width="40" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let link of headerMenuConfig">
          <a (click)="link?.subMenu == null ? null : openSubMenuModal(link)" class="nav-link cursor-pointer" [routerLink]="link?.subMenu == null ? [link.url] : null" routerLinkActive="active" >{{ link.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
