<footer class="text-center text-lg-start bg-dark text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom global-width mx-auto">
    <div class="me-5 d-none d-lg-block">
      <span>Tìm chúng tôi trên các mạng xã hội:</span>
    </div>
    <div>
      <a class="me-4 text-reset" *ngFor="let social of socialMedia" [routerLink]="social.path">
        <i [class]="'fab ' + social.icon"></i>
      </a>
    </div>
  </section>
  <section class="global-width mx-auto">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>{{ companyInformation.name }}
          </h6>
          <p>
            {{ companyInformation.description }}
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Hãng xe
          </h6>
          <p *ngFor="let brand of carBrands">
            <a [routerLink]="brand.path" class="text-reset">{{ brand.name }}</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Chính sách
          </h6>
          <p *ngFor="let privacy of privacies">
            <a [routerLink]="privacy.path" class="text-reset">{{ privacy.name }}</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Liên hệ
          </h6>
          <p *ngFor="let contact of contacts"><i [class]="'fas me-3 ' + contact.icon"></i> {{ contact.value }} </p>
        </div>
      </div>
    </div>
  </section>
  <div class="bg-secondary text-center p-4">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>
