<div class="container mx-auto my-5">
  <div class="row">
    <div class="col-12 col-md-9 ">
      <div class="d-md-flex">
        <div class="col-12 col-md-7 d-flex justify-content-center justify-content-md-start" *ngFor="let img of this.productItem?.imageDTOs">
          <div *ngIf="img.type === 'thumbnail'">
            <img src="{{this.url}}{{img.id}}" width="90%" height="400px">
<!--            <lib-ngx-image-zoom-->
<!--              [thumbImage]= url+img.id-->
<!--              [fullImage]= url+img.id-->
<!--              [zoomMode]=hover-->
<!--            ></lib-ngx-image-zoom>-->
<!--            <lib-ngx-image-zoom-->
<!--              [thumbImage]=url+img.id-->
<!--              [fullImage]=url+img.id-->
<!--              [magnification]="1"-->
<!--              [enableScrollZoom]="true"-->
<!--              [enableLens]="true"-->
<!--              [lensWidth]="200"-->
<!--              [zoomMode]="hover"-->
<!--            ></lib-ngx-image-zoom>-->
          </div>
        </div>
        <div class="col-12 col-md-5 mt-4 mt-md-0">
          <h3>{{this.productItem?.name}}</h3>
          <h3>{{this.productItem?.price | currency: 'USD'}}</h3>
          <div class="promotion w-100 mt-4">
            <div class="p-4">
              <h5 class="text-danger fw-bold">Khuyễn mãi</h5>
              <div class="mt-3">
                <i class="fas fa-check-circle"></i>
                <span class="mx-2">Trả góp 0%</span>
              </div>
              <div class="mt-3">
                <i class="fas fa-check-circle"></i>
                <span class="mx-2">Thay nhớt miễn phí 3 lần</span>
              </div>
              <div class="mt-3">
                <i class="fas fa-check-circle"></i>
                <span class="mx-2">Bảo dưỡng miễn phí 6 tháng</span>
              </div>
            </div>
          </div>
          <div class="mt-4 row">
            <div class="col-3">
              <input type="number" class="form-control" [(ngModel)]="quantity">
            </div>
            <button class="btn btn-dark text-light col-7" (click)="addCart()">Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <h3>Thông số kỹ thuật</h3>
      </div>
      <div class="mt-4 p-4 border border-2 border-light">
        <div class="row border-bottom border-light">
          <div class="col-4 bg-light p-3">
            Hãng sản xuất
          </div>
          <div class="col-8 p-3">
            {{this.productItem?.brandDTO?.name}}
          </div>
        </div>
        <div class="row border-bottom border-light">
          <div class="col-4 bg-light p-3">
            Loại xe
          </div>
          <div class="col-8 p-3">
            {{this.productItem?.bodyType}}
          </div>
        </div>
        <div class="row border-bottom border-light">
          <div class="col-4 bg-light p-3">
            Nhiên liệu
          </div>
          <div class="col-8 p-3">
            {{this.productItem?.fuelType}}
          </div>
        </div>
        <div class="row border-bottom border-light">
          <div class="col-4 bg-light p-3">
            Xuất xứ
          </div>
          <div class="col-8 p-3">
            {{this.productItem?.brandDTO?.country}}
          </div>
        </div>
        <div class="row border-bottom border-light">
          <div class="col-4 bg-light p-3">
            Năm sản xuất
          </div>
          <div class="col-8 p-3">
            {{this.productItem?.brandDTO?.founderYear}}
          </div>
        </div>
        <div class="row border-bottom border-light">
          <div class="col-4 bg-light p-3">
            Thể loại
          </div>
          <div class="col-8 p-3">
            {{this.productItem?.categoryDTO?.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 d-none d-md-block bg-light">
      <img src="assets/media/baner-list-product.jpg" width="100%">
      <img src="assets/media/baner-list-product-1.jpg" width="100%">
    </div>
    <div class="mt-5">
      <h3>Sản phẩm</h3>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let product of listProduct">
          <div class="mx-2 " style="float:left;" >
              <app-product-card [productCard]="product"></app-product-card>
          </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
