<div class="outer pb-5">
  <div class="container-custom mx-auto">
    <div class="img-cover">
      <div class="p-5">
        <h1 class="text-light  ">Dòng xe COUPE</h1>
        <p class="text-light">Là dòng xe của dân chơi</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="py-5">
      <p class="text-secondary">
        Cấu hình xe thực tế có thể khác biệt so với hình ảnh, video, và thông tin minh họa. Vui lòng liên hệ các đại lý
        ủy quyền để tìm hiểu cấu hình chính xác tại từng thời điểm.
      </p>
    </div>
    <div>
      <div>
        <h6>SUV mới</h6>
        <hr class="col-1 my-3 py-1 text-light">
        <h3>
          Diện mạo của thành công. Trong một kết cấu hoàn toàn mới.
        </h3>
        <h6 class="m-0">
          Thông minh và chu toàn hơn bao giờ hết, GLE tự tin định hình phân khúc SUV hạng sang.
        </h6>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-8">
        <img src="assets/media/coupe-2.jpeg" width="90%" height="100%">
      </div>
      <div class="col-4">
        <img src="assets/media/coupe-1.webp" width="100%" class="pb-4">
        <img src="assets/media/coupe-3.jpeg" width="100%" class="pt-4">
      </div>
    </div>
    <div class="mt-5">
      <div>
        <h6>Thiết kế</h6>
        <hr class="col-1 my-3 py-1 text-light">
        <h3>
          GLE mới - đĩnh đạc và điềm tĩnh.
        </h3>
        <h6 class="m-0">
          Bề mặt gợi cảm, dáng vẻ cơ bắp và đường nét sắc xảo tạo nên diện mạo của GLE mới. Khó có biểu tượng quyền lực
          nào trông thanh lịch và năng động đến vậy.
        </h6>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <img src="assets/media/coupe-4.webp" width="90%" height="100%">
      </div>
      <div class="col-6">
        <img src="assets/media/coupe-5.webp" width="90%" class="pb-4">
      </div>
    </div>
    <div class="mt-5">
      <div>
        <h6>Tiện nghi</h6>
        <hr class="col-1 my-3 py-1 text-light">
        <h3>
          Theo trực giác của bạn.
        </h3>
        <h6 class="m-0">
          Mọi tính năng, mọi chi tiết được thiết kế để mang đến bạn sự tự do và thoải mái tối đa. Khám phá những khả
          năng mới trong không gian của riêng bạn.
        </h6>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-7">
        <img src="assets/media/coupe-6.jpeg" width="90%" height="100%">
      </div>
      <div class="col-5">
        <ul>
          <li>Đèn trang trí nội thất với 64 màu</li>
          <li>Màn hình cảm ứng đa phương tiện 12,3 inch</li>
          <li>Điều khiển bằng giọng nói tự nhiên</li>
          <li>Hệ thống âm thanh vòm Burmester®</li>
          <li>Định vị GPS tích hợp bản đồ Việt Nam</li>
          <li>Điều hòa khí hậu tự động 2 vùng THERMATIC</li>
          <li>KEYLESS-GO và HAND-FREE ACCESS</li>
          <li>Điều khiển cảm ứng mới trên bảng điều khiển trung tâm</li>
          <li>Điều khiển cảm ứng mới trên bảng điều khiển trung tâm</li>
          <li>Nhiều cách thức điều khiển cảm ứng</li>
        </ul>
      </div>
    </div>
    <div class="mt-5">
      <div>
        <h6>Thông số kỹ thuật</h6>
        <hr class="col-1 my-3 py-1 text-light">
        <h3>
          Tất cả thông số về hiệu suất và kích thước. Tất cả về GLE mới.
        </h3>
        <h6 class="m-0">
          So sánh dữ liệu kỹ thuật của các thông số kỹ thuật khác nhau.
        </h6>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-5">
        <h5 class="fw-bold">Trang bị nổi bật</h5>
        <ul>
          <li>Camera lùi</li>
          <li>Đèn pha Multi-beam LED tích hợp đèn LED chiếu sáng ban ngày</li>
          <li>DYNAMIC SELECT với 5 chế độ lái</li>
          <li>Chức năng cảnh báo mất tập trung ATTENTION ASSIST</li>
          <li>Hệ thống âm thanh PRE-SAFE® và PRE-SAFE®</li>
          <li>Phanh tay điều khiển điện với chức năng nhả phanh thông minh</li>
          <li>Hệ thống kiểm soát lực kéo điện tử cho hệ dẫn động 4 bánh 4ETS; Hỗ trợ xuống dốc DSR</li>
          <li>Hệ thống phanh ADAPTIVE với chức năng hỗ trợ dừng xe (HOLD) và hỗ trợ khởi hành ngang dốc (Hill-Start Assist)</li>
          <li>Chức năng kiểm soát tốc độ với SPEEDTRONIC</li>
        </ul>
      </div>
      <div class="col-7">
        <img src="assets/media/coupe-7.webp" width="90%" height="100%">
      </div>
    </div>
  </div>
</div>
