<div class="w-100 bg-light rounded rounded-3 p-2 d-flex" type="button">
  <div *ngIf="thumbImg?.type == 'thumbnail'; else noLogo" class="w-50 ratio ratio-4x3 bg-light rounded rounded-3 text-dark">
    <img [src]="apiPath + '/images/' + thumbImg?.id + '?q=' + getTimeStamp().toString()" alt="logo" class="w-100 ratio ratio-4x3 rounded rounded-3" style=""> 
  </div>
  <ng-template #noLogo>
    <div class="w-50 ratio ratio-4x3 bg-warning rounded rounded-3 text-dark"></div>
  </ng-template>
  <div class="w-100 mt-3 ms-3">
    <p class="h4 text-dark">{{ product.name }}</p>
    <div class="d-flex align-items-center">
      <img *ngIf="brandLogo?.id" class="w-25 ratio ratio-1x1 me-2" [src]="apiPath + '/images/' + brandLogo?.id + '?q=' + getTimeStamp().toString()">
      <p class="h5 text-dark fw-light">{{ product.brandDTO?.name }}</p>
    </div>
    <p class="h5 text-dark fw-normal">{{ product.price | currency }}</p>
  </div>
</div>
