<div class="w-100 bg-light rounded rounded-3 p-2 d-flex" type="button">
  <div class="w-100 my-3 mx-3 d-flex align-items-center">
    <p class="h6 text-dark" style="width: 120px">Order ID: {{ order?.id }}</p>
    <div class="d-flex align-items-center flex-grow-1 justify-content-between">
      <div class="me-3">
        <p class="text-dark">Khách hàng: {{ order?.user?.firstName + ' ' + order?.user?.lastName }}</p>
        <p class="text-dark">Số điện thoại: {{ order?.user?.telephone }}</p>
        <p class="text-dark">Địa chỉ: {{ order?.address }}</p>
      </div>
      <div class="d-none d-lg-block">
        <p class="text-dark">Tạo lúc: {{ order?.createDate | date: 'short'}}</p>
        <p class="text-dark">Cập nhật: {{ order?.modifiedDate | date: 'short'}}</p>
      </div>
    </div>
    <div class="w-25 d-flex flex-column justify-content-end">
      <p class="text-end h5 fw-light {{ getClass(order?.status || '') }}">{{ order?.status }}</p>
      <p class="h5 text-end text-dark fw-normal">{{ order?.total | currency }}</p>
    </div>
  </div>
</div>