<div class="hatchback">
  <div class="img-cover">
    <div class="container-custom mx-auto">
      <div class="pt-5 ms-5">
        <h1>HatchBack of Coding-Showroom</h1>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <h3>Isn’t an SUV a hatchback then?</h3>
    <div class="row">
      <div class="col-12 col-md-6">
        <img style="width: 100%" src="https://res.cloudinary.com/awi-ln/image/upload/v1652286764/hatchback2_zmjqik.webp" alt="image">
      </div>
      <div class="col-12 col-md-6">
        If you want to get technical, there are many types of cars that have a hatchback boot lid that you’d be unlikely to refer to as such. All estate cars, for example, have a hatchback boot, but you or I would call it an estate. And yes, the same is true of an SUV. So let’s just say that while it’s used to describe a body type, ‘hatchback’ is also used to describe a category of car.
        In truth, there are no hard-and-fast rules and there’s definitely a grey area where coupes are concerned. These are generally sporty cars with two side doors and a sloping rear. Some have a hatchback boot lid, others have a saloon-style boot. An example is the Volkswagen Scirocco, which looks like a hatchback but is generally referred to as a coupe.
      </div>
    </div>
    <h3 class="mt-5">Why are hatchbacks so popular?</h3>
    <p class="mb-3">
      A hatchback boot lid dramatically improves practicality by giving you a much larger boot opening. The shape of many hatchbacks also allows you more vertical boot space if you remove the parcel shelf (the detachable load cover that usually lifts up when you open the boot). Fold the rear seats down, and you’ve basically created a van, but with better visibility and a far smaller footprint.

      The hatchback is a type of car that many people will associate with the smaller, more affordable end of the market, but these days hatchbacks come in a range of sizes and all sorts of prices.
    </p>
    <div class="text-center">
      <img src="https://res.cloudinary.com/awi-ln/image/upload/v1652286764/hatchback1_cd27zf.webp" alt="image">
    </div>
    <h3 class="mt-5">Are there any hatchback drawbacks?</h3>
    <p class="mb-3">
      Because a hatchback’s boot area isn’t enclosed like a saloon’s, hatchbacks sometimes have more road noise intruding into the cabin from the back and thieves can more easily access the boot (by breaking the back window).

      Overall though, the hatchback design ticks an awful lot of boxes and you’ll be hard-pressed to find a manufacturer that doesn’t offer a variety of hatchbacks across its range.
    </p>
    <div class="text-center">
      <img class="mb-3" src="https://res.cloudinary.com/awi-ln/image/upload/v1652286764/hatchback4_daqtms.webp" alt="image">
    </div>
  </div>
</div>
