*{
  color: black !important;
}
.container-custom {
  margin: 0 6% !important;
}
.col-1{
  padding: 10px 20px !important;
  width: 10% !important;
}
button{
  background: none !important;
  border: 1px solid #BBBBBB !important;
}
.btn-active{
  background-color: black !important;
  color: white !important;
}
