<div class="outer">
  <div class="container-custom mx-auto">
    <div class="img-cover">
      <div class="pt-5 ms-5">
        <h1>Bảo hành và bảo hiểm</h1>
        <p>An tâm khám phá những cung đường</p>
      </div>
    </div>
    <div class="mt-5 container">
      <div>
        <h6>Bảo hành</h6>
        <hr class="col-1">
        <h3>Luôn làm tròn trách nhiệm của chúng tôi với chiếc xe của bạn.</h3>
      </div>
      <div class="d-md-flex mt-5">
        <div class="col-12 col-md-6">
          <div class="mt-4 me-md-5">
            <h3>
              An toàn là trên hết.
            </h3>
            <h6 class="mt-4">XE DU LỊCH</h6>
            <p>
              Mercedes-Benz áp dụng chế độ bảo hành 3 năm cho tất cả các dòng xe du lịch trên khắp Việt Nam với số dặm
              không giới hạn kể từ ngày khách hàng mua xe.
            </p>
            <h6 class="mt-4">V-CLASS và VITO</h6>
            <p>
              Mercedes-Benz áp dụng chế độ bảo hành 3 năm kể từ ngày khách hàng mua xe hoặc 200,000km (tùy điều kiện nào
              đến trước) cho tất cả các dòng xe V-Class và Vito trên khắp Việt Nam.
            </p>
            <p class="mt-4">
              (*) Ngày mua xe được tính dựa trên hóa đơn bán hàng do đại lý ủy quyền cấp cho người mua đầu tiên.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img src="assets/media/warranty-and-insurance-1.webp" width="100%">
        </div>
      </div>
      <div class="mt-5">
        <h6>Sửa chữa nhỏ</h6>
        <hr class="col-1">
        <h3>Các vết trầy xước chỉ là vấn đề nhỏ.</h3>
      </div>
      <div class="d-md-flex mt-5">
        <div class="col-12 col-md-6">
          <img src="assets/media/warranty-and-insurance-2.webp" width="100%">
        </div>
        <div class="col-12 col-md-6">
          <div class="mt-4 ms-md-5">
            <h3>
              Vỏ gương xe bị trầy khi đang đi nghỉ mát – làm thế nào bây giờ?
            </h3>
            <p class="mt-5">
              Mercedes-Benz sẽ hỗ trợ bạn.
            </p>
            <p class="mt-5">
              Vệt trầy xước, những vết lõm do va chạm nhẹ hay vết nứt nhỏ là không thể tránh được trong quá trình xe di
              chuyển trên đường. Chúng tôi ở đây để giúp bạn giải quyết những vấn đề này. Phương pháp sửa chữa hiện đại
              sẽ làm những hư hại nhỏ bên trong và bên ngoài biến mất nhanh chóng mà không yêu cầu phải thay mới.
            </p>
          </div>
        </div>
      </div>
      <div class="d-md-flex mt-5">
        <div class="col-12 col-md-6">
          <div class="mt-4 me-md-5">
            <h3>
              Sự hỗ trợ tuyệt vời từ Bảo hiểm Mercedes-Benz.
            </h3>
           <p class="mt-4">
             Mercedes-Benz Bảo hiểm ô tô là sản phẩm được thiết kế riêng dành cho khách hàng Mercedes-Benz, sẽ mang đến cho khách hàng:
           </p>
            <ul>
              <li>
                Phạm vi bảo hiểm rộng nhất, bao gồm bảo hiểm thủy kích.
              </li>
              <li>Sửa chữa ở các xưởng Mercedes-Benz ủy quyền trên toàn quốc.</li>
              <li>Thay thế phụ tùng chính hãng mới 100%.</li>
              <li>Bồi thường đến 2 lần/năm đối với bảo hiểm mất cặp bộ phận.</li>
              <li>Bồi thường xe mới 100% nếu xe bị tổn thất toàn bộ trong vòng 12 tháng kể từ ngày mua mới.</li>
              <li>Cứu hộ miễn phí đến garage Mercedes-Benz gần nhất trên toàn quốc trong trường hợp tai nạn, xe hỏng, nổ lốp, v.v.</li>
              <li>Chỉ cần gọi 1800 1011 (miễn cước) để yêu cầu bồi thường và hỗ trợ 24/7.</li>
              <li>Ưu đãi đặc biệt khi mua bảo hiểm trách nhiệm dân sự tự nguyện và bảo hiểm tai nạn người ngồi trên xe.</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img src="assets/media/warranty-and-insurance-3.jpeg" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
