<div class="outer">
  <div class="container-custom mx-auto">
    <div class="img-cover">
      <div class="pt-5 ms-5">
        <h1>Dịch vụ và bảo dưỡng</h1>
        <p>Gía trị tin tưởng của bạn</p>
      </div>
    </div>
    <div class="mt-5 container">
      <div>
        <h6>Gói bảo dưỡng</h6>
        <hr class="col-1">
        <h3>Giữ vững giá trị xe Mercedes-Benz của bạn.</h3>
      </div>
      <div class="d-md-flex mt-5">
        <div class="col-12 col-md-6">
          <img src="assets/media/servicer-maintenance-1.webp" width="100%">
        </div>
        <div class="col-12 col-md-6">
          <div class="mt-4 ms-md-5">
            <h3>
              Dịch vụ của tôi. Sự an tâm của tôi.
            </h3>
            <p class="mt-4">
              Lịch sử dịch vụ và bảo dưỡng chính hãng được đảm bảo bởi Mercedes-Benz  cho chủ sở hữu tiếp theo.
            </p>
            <ul class="mt-4">
              <li>
                Đơn giản hóa dịch vụ bảo dưỡng với phạm vi dịch vụ đã định trước.
              </li>
              <li>
                Bạn sẽ không cần phải lo lắng về tác động của lạm phát hay phụ tùng tăng giá đối với chi phí bảo trì xe trong suốt 2 năm.
              </li>
              <li>
                Tăng giá trị bán lại xe khi quyết định sang nhượng lại chiếc Mercedes-Benz của mình nhờ:
              </li>
            </ul>
            <p class="mt-4">
              Liên hệ đại lý gần nhất để đặt lịch: www.mercedes-benz.com.vn/find_dealer
            </p>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <h6>Dịch vụ bảo dưỡng</h6>
        <hr class="col-1">
        <h3>Chăm sóc và bảo dưỡng toàn diện.</h3>
        <p>Là những người dành tất cả tâm huyết để tạo nên những tuyệt phẩm Mercedes-Benz, chúng tôi hiểu rõ điều gì tốt nhất để giúp các "ngôi sao" mãi tỏa sáng. Việc thực hiện các quy trình chăm sóc, bảo dưỡng định kỳ không chỉ giúp đảm bảo sự an toàn mà còn giúp duy trì những giá trị tuyệt vời của chiếc Mercedes-Benz bạn đang sỡ hữu.
          Chúng tôi luôn cam kết mang lại cho khách hàng những dịch vụ tốt nhất nhằm đảm bảo chiếc xe của bạn luôn vận hành trơn tru, hoàn hảo như ngày đầu.</p>
      </div>
      <div class="d-md-flex mt-5">
        <div class="col-12 col-md-6">
          <img src="assets/media/servicer-maintenance-2.webp" width="100%">
        </div>
        <div class="col-12 col-md-6">
          <div class="mt-4 ms-md-5">
            <h3>
              Chiếc xe của bạn sẽ được chăm sóc bởi:
            </h3>
            <ul class="mt-4">
              <li>
                Đội ngũ kỹ thuật viên được đào tạo chuyên sâu và chứng nhận bởi Mercedes-Benz.
              </li>
              <li>
                Sử dụng phần mềm đo đạc thông tin chỉ số xe chuyên biệt của Mercedes-Benz.
              </li>
              <li>
                Các dụng cụ chuyên dụng tương thích cho từng bộ phận của xe.
              </li>
              <li>
                Phạm vi dịch vụ tối ưu cho từng chiếc xe dựa theo quãng đường di chuyển, thời gian hoạt động và điều kiện sử dụng.
              </li>
            </ul>
            <p class="mt-4">
              Chương trình diễn ra từ 1/10 - 30/11/2020. Liên hệ đại lý gần nhất để được tư vấn.
            </p>
          </div>
        </div>
      </div>
      <div class="d-md-flex mt-5">

        <div class="col-12 col-md-6">
          <div class="mt-4 me-md-5">
            <h3>
              Chăm sóc điều hòa xe. Thỏa sức vi vu hè.
            </h3>
            <p class="mt-4">
              Mùa hè này, hãy tận hưởng những ưu đãi đặc biệt để chăm sóc hệ thống lọc gió, điều hòa không khí cho chiếc
              xe Mercedes-Benz của bạn.
            </p>
            <p class="mt-4">
              Chương trình diễn ra từ 10/6 đến 6/7 tại các đại lý Mercedes-Benz ủy quyền trên toàn quốc.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img src="assets/media/servicer-maintenance-3.webp" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
