.outer{
  background-color: #262626;
}
.img-cover{
  background-image: linear-gradient(to right, black 1%, transparent 80%), url("/assets/media/servicer-maintenance-cover.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}
