.auth-page {
  background: url('https://i1-vnexpress.vnecdn.net/2021/11/26/MBC27207jpg-1637901851.jpg?w=750&h=450&q=100&dpr=1&fit=crop&s=ROr5Pyl_xjG7kxaNvdB7zQ') no-repeat center; 
  background-size: cover;
}

:host {
  height: 100%;
}
