.user-cart {
  width: 300px;
  height: 350px;
  .list {
    height: 200px;
    overflow: auto;
    .list-item {
      .item-img {
        width: 50px !important;
        height: 50px !important;
      }
    }
  }
}
