<div class="brochure">
  <div class="container-custom mx-auto">
    <div class="img-cover">
      <div class="img-cover">
        <div class="pt-5 ms-5">
          <h1>Bảng giá & Brochure</h1>
        </div>
      </div>
    </div>
    <div class="mt-5 container">
      <div class="mt-5">
        <p>Bảng giá</p>
        <p class="h1 mt-3">
          Bảng giá chính hãng các dòng xe Coding-ShowRoom[1]
        </p>
        <div class="table-gia row">
          <div class="col-12 col-md-6">
            <table class="table">
              <tbody>
              <tr>
                <td class="text-title-dong">Các dòng sedan Coding-ShowRoom</td>
                <td class="text-title">Giá bán lẻ đề xuất</td>
              </tr>
              <tr>
                <td class="text-title">Mercedes-AMG A 35 4MATIC</td>
                <td class="text">2,429,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 col-md-6">
            <table class="table">
              <tbody>
              <tr>
                <td class="text-title-dong">Các dòng sedan Coding-ShowRoom</td>
                <td class="text-title">Giá bán lẻ đề xuất</td>
              </tr>
              <tr>
                <td class="text-title">Mercedes-AMG A 35 4MATIC</td>
                <td class="text">2,429,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="table-gia row">
          <div class="col-12 col-md-6">
            <table class="table">
              <tbody>
              <tr>
                <td class="text-title-dong">Các dòng sedan Coding-ShowRoom</td>
                <td class="text-title">Giá bán lẻ đề xuất</td>
              </tr>
              <tr>
                <td class="text-title">Mercedes-AMG A 35 4MATIC</td>
                <td class="text">2,429,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 col-md-6">
            <table class="table">
              <tbody>
              <tr>
                <td class="text-title-dong">Các dòng sedan Coding-ShowRoom</td>
                <td class="text-title">Giá bán lẻ đề xuất</td>
              </tr>
              <tr>
                <td class="text-title">Mercedes-AMG A 35 4MATIC</td>
                <td class="text">2,429,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="table-gia row">
          <div class="col-12 col-md-6">
            <table class="table">
              <tbody>
              <tr>
                <td class="text-title-dong">Các dòng sedan Coding-ShowRoom</td>
                <td class="text-title">Giá bán lẻ đề xuất</td>
              </tr>
              <tr>
                <td class="text-title">Mercedes-AMG A 35 4MATIC</td>
                <td class="text">2,429,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 col-md-6">
            <table class="table">
              <tbody>
              <tr>
                <td class="text-title-dong">Các dòng sedan Coding-ShowRoom</td>
                <td class="text-title">Giá bán lẻ đề xuất</td>
              </tr>
              <tr>
                <td class="text-title">Mercedes-AMG A 35 4MATIC</td>
                <td class="text">2,429,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              <tr>
                <td class="text-title">C 300 AMG 1ST Edition</td>
                <td class="text">2,399,000,000 ₫</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
