<div class="px-2 px-sm-5 d-flex align-items-center bg-light rounded rounded-3">
  <div class="card-body p-4 p-lg-5 text-dark">
    <form>

      <div class="d-flex align-items-center mb-3 pb-1">
        <img src="../../../../../assets/Coding_club_logo.png" alt="logo">
        <span class="h1 fw-bold mb-0 text-dark">Coding Club Showroom</span>
      </div>

      <h5 class="fw-normal mb-3 pb-3 text-dark" style="letter-spacing: 1px;">Đăng nhập vào tài khoản của bạn!</h5>

      <div class="form-outline mb-4 form-floating">
        <input type="email" id="email" class="form-control form-control-lg" placeholder="Email"/>
        <label class="form-label text-dark" for="email">Email</label>
      </div>

      <div class="form-outline mb-4 form-floating">
        <input type="password" id="password" class="form-control form-control-lg" placeholder="Password"/>
        <label class="form-label text-dark" for="password">Password</label>
      </div>

      <div class="pt-1 mb-4">
        <button class="btn btn-dark btn-lg btn-block" type="button">Đăng nhập</button>
      </div>

      <a class="small text-muted" href="#!">Quên mật khẩu?</a>
      <p class="mb-5 pb-lg-2 text-dark" style="color: #393f81;">Không có tài khoản? <a [routerLink]="['/auth', 'register']"
          style="color: #393f81 !important;">Đăng ký</a></p>
      <a href="#!" class="small text-muted">Điều khoản sử dụng</a>
      <a href="#!" class="small text-muted ms-3">Chính sách</a>
    </form>

  </div>
</div>