<div class="container mx-auto my-5">
  <div class="col-12 col-md-8 col-lg-6 mx-auto shadow p-4">
    <div>
      <div class="d-flex justify-content-center">
        <h3 class="fw-bold">Thông tin cá nhân</h3>
      </div>
      <div class="d-flex mt-5">
        <h6>Họ:</h6> <span class="ms-2">{{this.myUser?.lastName}}</span>
      </div>
      <div class="d-flex mt-3">
        <h6>Tên:</h6> <span class="ms-2">{{this.myUser?.firstName}}</span>
      </div>
      <div class="d-flex mt-3">
        <h6>Địa chỉ:</h6> <span class="ms-2">{{this.myUser?.address}}</span>
      </div>
      <div class="d-flex mt-3">
        <h6>Tên đăng nhập:</h6> <span class="ms-2">{{this.myUser?.userName}}</span>
      </div>
      <div class="d-flex mt-3">
        <h6>Số điện thoại:</h6> <span class="ms-2">{{this.myUser?.telephone}}</span>
      </div>
      <div class="d-flex mt-3">
        <h6>Ngày tạo:</h6> <span class="ms-2">{{this.myUser?.createdDate | date: 'short'}}</span>
      </div>
      <div class="d-flex mt-3">
        <h6>Ngày cập nhật:</h6> <span class="ms-2">{{this.myUser?.modifiedDate | date:'short'}}</span>
      </div>
      <div class="mt-5 d-flex justify-content-end">
        <button class="btn btn-primary text-light" (click)="openModal()">Cập nhật thông tin</button>
      </div>
    </div>
  </div>
</div>
