.menu-modal {

  .modal-body {
    .modal-title {
      color: black !important;
    }
    ul {
      max-height: 60vh;
      overflow-y: scroll;
      li {
        a {
          span {
            color: black !important;
          }
        }
      }
    }   }
}
